<div id="home-container">
    <div class="home-container-content">
        <p class="title">MamyPlany</p>
        <p class="header">
            Wszystko w jednym miejscu!
        </p>
        <p class="description">
            Potrzebujesz zapisać coś w kalendarzu? 
            Chcesz kontrolować swój budżet?
            Jesteś uczniem, studentem lub miłośnikiem książek,
            który od czasu do czasu zapomina o ich zwrocie do biblioteki?
            Marzysz,aby pamiętać o wszystkim, czego musisz lub chcesz się nauczyć?<br><br>
            <b>MamyPlany</b> to idealna strona dla Ciebie!
            Znajdziesz to wszystko w jednym miejscu i już nie będziesz się martwić!
        </p>
        <p class="description">Potrzebujesz dowiedzieć się więcej o aplikacji? Kliknij <span (click)="openPDF()" class="fw-bold">TUTAJ!</span></p>
    </div>
</div>