#home-container{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container-content {
  width: 80%;
}

.title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  color: rgb(25, 144, 255);
  font-weight: 800;
}
.header{
  margin-top: 36px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(68, 68, 68);
}
.description{
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;
  color: rgb(80, 80, 80);
}