<div id="learn-container">
    <div class="learn-container-content" *ngIf="learn.length == 0">
      <p class="title">Nauka</p>
      <p class="description">
        Dodaj tematy do nauki,<br>aby zdać każdy egzamin.
     </p>
     <a [routerLink]="['/learn/form']" class="btn btn-primary button-add">
      Dodaj
    </a>
    </div>
    <div class="learn-container-content" *ngIf="learn.length > 0">
      <p class="title">Nauka</p>
      <a [routerLink]="['/learn/form']" class="btn btn-primary button-add">
        Dodaj
      </a>
      <table>
        <tr>
          <th>Temat</th>
          <th>Przedmiot</th>
          <th>Data zakończenia</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let learn of learn">
          <td>{{ learn.topic }}</td>
          <td>{{ learn.subject }}</td>
          <td>{{ learn.endDate }}</td>

          <td><a [routerLink]="['/learn/form', learn.id]"><span class="edit">Edytuj</span></a></td>
          <td><a (click)="removeLearn(learn.id)"><span class="delete">Usuń</span></a></td>
        </tr>
      </table>
    </div>
  </div>
  