<div class="container">
    <div class="image">
        <img src="assets/images/mplogo.png" height="150px"/>
    </div>
    <div class="buttons">
        <a [routerLink]="['']">
            <div class="buttons-q">
                Strona główna
            </div>
        </a>
        <a [routerLink]="['/calendar']">
            <div class="buttons-q">
                Kalendarz
            </div>
        </a>
        <a [routerLink]="['/savings']">
            <div class="buttons-q">
                Budżet
            </div>
        </a>
        <a [routerLink]="['/books']">
            <div class="buttons-q">
                Książki
            </div>
        </a>
        <a [routerLink]="['/learn']">
            <div class="buttons-q">
                Nauka
            </div>
        </a>
        <a (click)="doLogout()">
            <div class="buttons-q logout">
                Wyloguj
            </div>
        </a>
    </div>
</div>
