<div>
    <form [formGroup]="revenueForm">
        <div class="form-block">
            <label>Nazwa</label>
            <input formControlName="revName" type="text" placeholder="Nazwa przychodu...">
            <small *ngIf="revenueNameError" class="text-danger">Błąd. Nazwa nie może być pusta</small>
        </div>
        <div class="form-block">
            <label>Wartość</label>
            <input formControlName="revAmount" type="number" placeholder="Wartość przychodu...">
            <small *ngIf="revenueAmountError" class="text-danger">Błąd. Kwota musi być dodatnia</small>
        </div>
        <button (click)="addRevenue(revenueForm.value)" class="btn btn-primary button-add">Zapisz</button>
    </form>

    <div *ngIf="revenueArray.length > 0">
        <table class="mt-3">
            <tr>
                <th>Przychód</th>
                <th>Wartość</th>
                <th></th>
            </tr> 
            <tr *ngFor="let revenue of revenueArray">
                <td>{{ revenue.revName }}</td>
                <td>{{ revenue.revAmount }} zł</td>
                <td><a href="javascript:void(0)" (click)="removeRevenue(revenue.id)">Usuń</a></td>
            </tr>
            <tr>
              <td><b>Razem</b></td>
              <td><b>{{ totalRevenue }} zł</b></td>
              <td></td>
            </tr>
        </table>
    </div>
</div>
