<div class="background">
  <div class="shadow">
    <div class="main">
      <div class="main-left">
        <p class="main-left-text">WITAJ</p>
        <form [formGroup]="loginForm" (ngSubmit)="tryLogin(loginForm.value)">
          <div class="form-group">
            <input type="email" formControlName="email" class="form-control" placeholder="Email" required>
            <span *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched">Nieprawidłowy adres email</span>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Hasło" required>
            <span class="error-msg" *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">Proszę podać hasło</span>
          </div>
          <button type="submit" class="btn btn-default button-submit">ZALOGUJ</button>
          <span class="error-msg" *ngIf="message">{{ message }}</span>
        </form>
        <div class="links">
          <a [routerLink]="['/register']"><p>Zarejestruj</p></a>
        </div>
      </div>
      <div class="main-right">
        <img src="assets/images/login.png" class="image" />
      </div>
    </div>
  </div>
</div>

