<div id="books-form-container">
  <div class="books-form-container-content">
    <div class="container-title">
      Dodaj wypożyczone książki
    </div>
    <div class="form-container">
      <div>
        <form [formGroup]="bookForm" (ngSubmit)="createBook(bookForm.value)">
          <div class="form-block">
            <label>Tytuł</label>
            <input
            type="text"
            name="title"
            formControlName="title"
            required
            />
            <small *ngIf="bookForm.controls['title'].invalid" class="text-danger">Wprowadź tytuł</small>
          </div>

          <div class="form-block">
            <label>Autor</label>
            <input
            type="text"
            name="author"
            formControlName="author"
            required
            />
            <small *ngIf="bookForm.controls['author'].invalid" class="text-danger">Wprowadź autora</small>
          </div>

          <div class="form-block">
            <label>Data wypożyczenia</label>
            <input
            type="date"
            name="borrowDate"
            formControlName="borrowDate"
            required
            />
            <small *ngIf="bookForm.errors?.['invalidDate']" class="text-danger">Data wypożyczenia musi być wcześniejsza niż data zwrotu</small>
          </div>

          <div class="form-block">
            <label>Data zwrotu</label>
            <input
            type="date"
            name="returnDate"
            formControlName="returnDate"
            required
            />
            <small *ngIf="bookForm.errors?.['invalidDate']" class="text-danger">Data zwrotu musi być późniejsza niż data wypożyczenia</small>
          </div>

          <button type="submit" class="btn btn-primary">
              Zapisz
            </button>    
        </form>
      </div>
      <img width="350px" src="assets/images/books.JPG" />
    </div>
  </div>
</div>
