google-chart {
    margin: 0!important;
}

.mt-3 {
    margin-top: 0!important;
}

.mt3table {
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
}

.form-block {
    margin-bottom: 5px!important;
}

button {
    margin-top: 7px;
}

.position {
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    padding-left: 250px;
    display: flex;
    justify-content: center;
    margin-top: 12px;
}