
#savings-container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    padding-left: 250px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
  }
  
.savings-container-content {
    width: 80%;
    display: flex;
    justify-content: center;
}
  

.title{
    font-weight: 800;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(25, 144, 255);
}


button {
    border-radius: 100px;
    background-color: rgb(9, 216, 102);
    border: none;
    padding: 10px 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
}

button:hover{
    background-color: rgb(25, 144, 255);
    transition: 0.7s;
}
a{
    text-decoration: none;
    color: white;
}

.balance {
    width: auto;
    text-align: center;
    font-size: 24px;
    padding-top: 200px!important;
    background-color: #fff;
}

.title {
    margin-bottom: 5px!important;
}