<div id="learn-form-container">
    <div class="learn-form-container-content">
      <div *ngIf="isAddMode" class="container-title">
        Dodaj temat nauki
      </div>
      <div *ngIf="!isAddMode" class="container-title">
        Edytuj temat nauki
      </div>
        <div class="form-container">
            <div>
                <form [formGroup]="learnForm" (ngSubmit)="onSubmit(learnForm.value)">
                  
                  <div class="form-block">
                    <label>Temat</label>
                    <input
                    type="text"
                    name="topic"
                    formControlName="topic"
                    required
                    />
                    <small *ngIf="learnForm.controls['topic'].invalid" class="text-danger">Wprowadź temat</small>
                  </div>
                  
                  <div class="form-block">
                    <label>Przedmiot</label>
                    <input
                    type="text"
                    name="subject"
                    formControlName="subject"
                    required
                    />
                    <small *ngIf="learnForm.controls['subject'].invalid" class="text-danger">Wprowadź przedmiot</small>
                  </div>
                  
                  <div class="form-block">
                    <label>Data zakończenia</label>
                    <input
                    type="date"
                    name="endDate"
                    formControlName="endDate"
                    required
                    />
                    <small *ngIf="learnForm.controls['endDate'].invalid" class="text-danger">Wprowadź datę</small>
                  </div>
                  
                  <button type="submit" class="btn btn-primary">
                    Zapisz
                  </button> 
                </form>
            </div>
            <img width="350px" src="assets/images/learn.JPG">    
        </div>
    </div>
</div>
