pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

#calendar-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 250px;
  text-align: center;
  padding: 50px 100px 0 300px;
  display: grid;
}

.calendar-wrapper {
  margin-top: 16px;
}


.blocks:not(.btn-group) {
  .btn {
    margin-right: 4px; 
  }
}

.date-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.calendar-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}